#!/bin/bash
source $(dirname $BASH_SOURCE)/mmy3_rest_wavelet_mni5mm.cfg #has almost everything else we need
preprocessed_dirname="mni_5mm_wavelet_noregbp" #name of directory to be created that will contain preprocessed files

#preprocessFunctional call to be used (only the part that does not vary across subjects).
#Do not include any information here about -4d (the input), -mprage_bet or -warpcoef (varies by subject), or -fm_phase, -fm_magnitude, or fm_cfg.
#make sure this is a quoted string! Can use backslashes to separate call across lines (within quotes).
preproc_call="-tr 1.0 -hp_filter 120s -rescaling_method 100_voxelmean -template_brain MNI_2.3mm \
-func_struc_dof bbr -warp_interpolation spline -constrain_to_template y \
-4d_slice_motion -custom_slice_times /gpfs/group/mnh5174/default/SPECC/MR_Raw/speccMBTimings.1D \
-wavelet_despike -wavelet_m1000 -wavelet_threshold 10 -motion_censor fd=0.3,dvars=20 \
-nuisance_file nuisance_regressors.txt -nuisance_compute 6motion,d6motion,csf,dcsf,wm,dwm -smoothing_kernel 5 -cleanup"

#need to export these environment variables to be accessible in R
export protocol remote_mrraw_root remote_mb_root loc_root loc_mrraw_root loc_mrproc_root loc_mb_root mb_filepattern \
    remote_subid_regex mprage_dirpattern preprocessed_dirname paradigm_name n_expected_funcruns \
    sync_mb_data sync_raw_data preproc_call gre_fieldmap_dirpattern fieldmap_cfg fmri_dicompattern mprage_dicompattern \
    proc_freesurfer preprocessMprage_call
