#!/bin/bash

source $(dirname $BASH_SOURCE)/specc_rest_wavelet_mni5mm.cfg #has almost everything else we need
preprocessed_dirname="mni_5mm_acompcor" #name of directory to be created that will contain preprocessed files

#preprocessFunctional call to be used (only the part that does not vary across subjects).
#Do not include any information here about -4d (the input), -mprage_bet or -warpcoef (varies by subject), or -fm_phase, -fm_magnitude, or fm_cfg.
#make sure this is a quoted string! Can use backslashes to separate call across lines (within quotes).
preproc_call="-tr 1.0 -hp_filter 120s -rescaling_method 10000_globalmedian -template_brain MNI_2.3mm \
-func_struc_dof bbr -warp_interpolation spline -constrain_to_template y \
-4d_slice_motion -custom_slice_times ${loc_root}/MR_Raw/speccMBTimings.1D \
-motion_censor fd=0.3,dvars=20 \
-nuisance_file nuisance_regressors.txt -nuisance_regression 6motion,d6motion,csf5,wm5 -smoothing_kernel 5 -cleanup"

preproc_resume=1 #prefer preprocessFunctional -resume for in process directories

#need to export these environment variables to be accessible in R
export preprocessed_dirname preproc_call preproc_resume
